---
import Search from "./Search.svelte";
import SelectedDefaultDisplay from "./SelectedDefaultDisplay.svelte";
import Card from "@components/Card.svelte";

import Library from "./components/Library.svelte";
import Experimentations from "./components/Experimentations.svelte";
import DesktopSvg from "./svgs/desktop.svg?raw";
import HobbiesSvg from "./svgs/hobbies.svg?raw";
import { useTranslations } from "@i18n/utils";

const { lang } = Astro.params;
const skills = await import(`../../contents/${lang}/skills.json`);
const t = useTranslations(lang);
---

<h2 class="giant-title is-overlapping fil-ariane-balise" id="title-what">
    {t('title.me')}
</h2>

<div class="grid">
    <div class="col is-6 on-sm-is-12">
        <Card>
            <p class="is-text-centered">
                {t('me.explanation')}
            </p>
            <Search client:idle client:only />
        </Card>
    </div>
</div>

<SelectedDefaultDisplay otherSkills={skills.others} client:idle />
<div id="me-container">
    <Library knowledges={skills.knowledges} client:idle client:only />
    <div class="svg-container">
        <div class="experimental-container">
            <Experimentations
                client:idle
                experimentations={skills.experimentations}
            />
        </div>
        <div class="desktop-container">
            <Fragment set:html={DesktopSvg} />
        </div>
        <div class="hobby-container">
            <Fragment set:html={HobbiesSvg} />
        </div>
    </div>
</div>
