---
import Layout from "@layouts/Layout.astro";
import FilAriane from "@components/FilAriane.svelte";

import MainTitle from "./_hero-landing/MainTitle.astro";
import Who from "./_presentation/Who.svelte";
import How from "./_presentation/How.svelte";
import Where from "./_presentation/Where.svelte";
import Projects from "./_presentation/Projects.svelte";
import Skills from "./_skills/Skills.astro";

import { languages } from "@i18n/ui";
import { useTranslations } from "@i18n/utils";

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({ params: { lang } }));
}

const { lang } = Astro.params;
const jobs = (await import(`../../contents/${lang}/jobs.json`)).default;
const projects = (await import(`../../contents/${lang}/projects.json`)).default;
const me = await import(`../../contents/${lang}/me.json`);
const skills = await import(`../../contents/${lang}/skills.json`);

const t = useTranslations(lang);
---

<Layout title="Nicolas De gheselle">
  <MainTitle />

  <main class="container fil-ariane-tracking">
    <Who {me} {lang}/>
    <How guidelines={me.guidelines} {lang}/>
    <Where {jobs} {lang} client:idle/>
    <Projects {projects} {lang} />
    <Skills {skills}/>
  </main>

</Layout>
