---
import Layout from "@layouts/Layout.astro";
import FilAriane from "@components/FilAriane.svelte";

import MainTitle from "./_hero-landing/MainTitle.astro";
import Who from "./_presentation/Who.svelte";
import How from "./_presentation/How.svelte";
import Where from "./_presentation/Where.svelte";
import Projects from "./_presentation/Projects.svelte";
import Skills from "./_skills/Skills.astro";

import { languages } from "@i18n/ui";
import { useTranslations } from "@i18n/utils";
import { getCollection } from "astro:content";
const { lang } = Astro.params;

const t = useTranslations(lang);
const me = await import(`../../data/${lang}/me.json`);
const jobs = await getCollection("jobs");
const projects = await getCollection("projects");
const skills = await getCollection("skills");
const experimentations = await getCollection("experimentations");

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({ params: { lang } }));
}
---

<Layout title="Nicolas De gheselle">
  <MainTitle />
  <FilAriane client:idle />
  <main class="container fil-ariane-tracking">
    <Who {me} {lang}/>
    <How guidelines={me.guidelines} {lang}/>
    <Where {jobs} {lang} client:idle/>
    <Projects {projects} {lang} />
    <Skills {skills} {experimentations} hobbies={me.hobbies}/>
  </main>
</Layout>